body {
  margin: 0;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.wrap {
  background: #313f38;
}
.header {
  padding: 20px 0;
}
.header__blog {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  color: var(--White, #fffcf6);
  font-family: Helvetica Neue LT Std;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header__nav-link {
  color: var(--White, #fffcf6);
  font-family: Helvetica Neue LT Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}

.header__end-number {
  color: var(--White, #fffcf6);
  font-family: Helvetica Neue LT Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 1800px) {
  .header__end-img {
    display: none;
  }
}
@media screen and (max-width: 1024px) {
  .header__end-img {
    display: inline-block;
  }
  .header__end-number {
    display: none;
  }
  .header__nav {
    display: none;
  }
}
.menu {
  padding: 20px 0;
}
.menu__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu__logo__bankhotel {
  display: flex;
}
.menu__logo-bank {
  color: var(--White, #fffcf6);
  font-family: Miracle;
  font-size: 170px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.menu__logo-hotel {
  color: var(--Secondary-color, #fcd043);
  font-family: Miracle;
  font-size: 170px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
.menu__logo-menu {
  color: var(--Secondary-color, #fcd043);
  font-family: Helvetica Neue LT Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.menu__since__title {
  background: url(/images/since.svg) no-repeat;
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.menu__since-text {
  color: var(--White, #fffcf6);
  font-family: Helvetica Neue LT Std;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: capitalize;
}
.menu__since-text2 {
  color: var(--White, #fffcf6);
  font-family: Helvetica Neue LT Std;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  padding-top: 60px;
}
.a1 {
  position: relative;
}
.menu__btn {
  position: absolute;
  right: 0;
}
.menu__button {
  background: transparent;
  border: none;
}
.menu__end {
  display: flex;
}
@media screen and (max-width: 1150px) {
  .menu__since__title {
    display: none;
  }
  .menu__since-text2 {
    padding: 0;
  }
  .menu__end {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
  }
  .a1 {
    display: none;
  }
  .menu__btn {
    position: relative;
  }
}
@media screen and (max-width: 1100px) {
  .menu__btn {
    display: none;
  }
  .menu__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .menu__logo-bank {
    font-size: 60px;
  }
  .menu__logo-hotel {
    font-size: 60px;
  }
}
.check {
  padding: 20px;
}
.check__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.check-img {
  width: 100%;
}
.check-text1 {
  color: var(--Secondary-color, #fcd043);
  font-family: Helvetica Neue LT Std;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}
.check-text2 {
  color: var(--White, #fffcf6);
  font-family: Helvetica Neue LT Std;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.check-text3 {
  color: var(--White, #fffcf6);
  text-align: right;
  font-family: Helvetica Neue LT Std;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 700px) {
  .check__texts {
    display: none;
  }
  .check-text3 {
    text-align: left;
  }
}
.about {
  padding: 20px;
}
.about__title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.about__image-img {
  width: 100%;
}
.about__us {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.about__us-text1 {
  color: var(--White, #fffcf6);
  font-family: Miracle;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.08px;
  text-transform: capitalize;
}
.about__us-text2 {
  max-width: 400px;
  color: var(--White, #fffcf6);
  font-family: Helvetica Neue LT Std;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}
.about__btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.about__btn-button {
  position: relative;
  background: transparent;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  color: var(--White, #fffcf6);
  font-family: Helvetica Neue LT Std;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.about__btn-buttonimg {
  position: relative;
}
.about__btn-buttonimg2 {
  position: absolute;
  top: 100px;
}
.about__btn-button-text {
  position: absolute;
  top: 20px;
}
@media screen and (max-width: 1152px) {
  .about__btn {
    display: none;
  }
}
